@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");

footer {
  font-size: smaller;
  margin-top: 2em;
}

blockquote {
  margin-bottom: 3%;
}

#foto {
  width: 315px;
  height: 259px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 30px black;
}

img {
  transition: all .5s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

figcaption {
  text-align: center;
  line-height: 2;
  font-size: 1em;
  font-weight: 100;
}
body {
  font-family: "News Cycle", sans-serif;
  font-size: 18pt;
  background-color: #ffffff;
  color: red;
}
main > p::first-letter {
  font-size: 16pt;
}
main {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  font-size: 3em;
  font-family: Mansalva, Verdana, sans-serif;
}
h2 {
  font-size: 2em;
  clear: both;
}
h3 {
  font-size: 3em;
  color: rgb(23, 23, 245)
}
ul {
  font-size: 2em;
  color: rgb(121, 193, 218);
}
p {
  text-align: justify;
  line-height: 1.5;
  text-indent: 2em;
}
.first-letter{
  color: #b0a17b;
  font-weight: bold;
}
article p::first-letter {
  font-size: 16pt;
}
header {
  text-align: center;
}
header h1 {
  margin-bottom: 0;
  font-family: "Big Shoulders Display", cursive;
}
header blockquote {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px rgb(8, 108, 141) solid;
  font-family: "Open Sans Condensed", sans-serif;
}
blockquote {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  font-size: 16pt;
   background-color: #0AD99A;
  margin-left: 0;
  margin-right: 0;
}
#assinatura {
  font-family: "Dancing Script", cursive;
}

@media only screen and (max-width: 800px){

  p{
    font-size: 18px;
  }

  main > p {
    position: relative;
    font-size: 18px;
    top: 20px;
  }
  figure {
    float: left;
    box-sizing: border-box;
    margin: 0 2em 2em 0;
  }
  main {
    width: 80%;
    margin: 0 auto 4em auto;
  }
  #foto {
    width: 630px;
    height: 518px;
  }
  figcaption {
    text-align: center;
    line-height: 2;
    font-size: 1em;
    font-weight: 100;
  }
  footer {
    background-color: brown;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
  }

  /*Added from pull request*/

  #Obras {
    font-size: 13px;
  }

  #foto{
    height:60vh;
    width:auto;
    margin-right: 10%;
    margin-left:0;
  }

}


@media only screen and (max-width: 480px){

  #foto{
    height:40vh;
    width:auto;
    margin-right: 10%;
    margin-left: 0;
  }


}
